{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load order_tags %}
{% block title %}
    Order service
{% endblock title %}
    

{% block body %}
<div class="row">
    <div class="col-4 text-center">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {% if artisan.userprofile.photo %}
                <img src="{{MEDIA_URL}}/{{artisan.userprofile.photo}}" class="img-fluid img-thumbnail rounded-circle" alt="{{artisan.first_name}}"> {% else %} {% if artisan.userprofile.gender == "male" or artisan.is_staff%}
                <img src="{% static "images/male.jpg " %}" class="img-fluid img-thumbnail rounded-circle" alt="{{artisan.first_name}}"> {% else %}
                <img src="{% static "images/female.jpg " %}" class="img-fluid img-thumbnail rounded-circle" alt="{{artisan.first_name}}"> {% endif %} {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>
        <h5><span class="badge bg-primary">ARTISAN</span></h5>
        <h4 class="form_text">{{artisan.first_name.title}} {{artisan.last_name.title}}</h4>
        <span class="form_text my-1"><strong>Joined:</strong></span> <strong>{{artisan.date_joined}}</strong><br />
        <i class="fas fa-user-tag form_text my-2"></i> <strong>{{artisan.username}}</strong><br />
        <i class="far fa-calendar-alt form_text my-2"></i> <strong>{{artisan.userprofile.age}} years old</strong><br />
        <i class="fas fa-venus-mars form_text my-2"></i> <strong>{{artisan.userprofile.gender.title}}</strong><br />
        <i class="far fa-phone form_text my-2"></i> <strong>{{artisan.userprofile.phone_number.title}}</strong><br />
        <i class="fas fa-map-marker-alt form_text my-2"></i> <strong>{{artisan.userprofile.city.title}}, UK</strong>
    
    </div>
    <div class="col-8 form_text">
        <form method="post">
            {% csrf_token %}
            <h5 class="text-center">Fill in the form below to order {{artisan.first_name.upper}}'s services</h5>
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <div class="form-floating">
                <select name="service" class="form-select" id="floatingSelect" aria-label="Select service">
                    {% for service in services|splitter %}
                        <option value="{{service}}">{{service.title}}</option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Select service</label>
            </div>
            <div id="" class="form-text">You can only order one service at a time.</div>
            <div class="form-floating mt-3">
                <textarea name="explanation" minlength="5" class="form-control" placeholder="Give a brief explanation about what you want fixed." id="floatingTextarea2" style="height: 100px" required></textarea>
                <label for="floatingTextarea2">Explanation</label>
            </div>
            <div id="" class="form-text mb-3">Give a brief explanation on why you need the service selected above.</div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit"><strong>GO TO PAYMENT PAGE</strong></button>
            </div>
        </form>
    </div>
</div>
<br>
{% endblock body %}