{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load order_tags %}
{% block title %}
    Order service
{% endblock title %}
    

{% block body %}
<div class="row">
    <div class="col-4 text-center">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {% if user.userprofile.photo %}
                <img src="{{MEDIA_URL}}/{{user.userprofile.photo}}" class="img-fluid img-thumbnail rounded-circle" alt="{{user.first_name}}"> {% else %} {% if user.userprofile.gender == "male" or user.is_staff%}
                <img src="{% static "images/male.jpg " %}" class="img-fluid img-thumbnail rounded-circle" alt="{{user.first_name}}"> {% else %}
                <img src="{% static "images/female.jpg " %}" class="img-fluid img-thumbnail rounded-circle" alt="{{user.first_name}}"> {% endif %} {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>
        <h5><span class="badge bg-primary">ARTISAN</span></h5>
        <h4 class="form_text">{{user.first_name.title}} {{user.last_name.title}}</h4>
        <span class="form_text my-1"><strong>Joined:</strong></span> <strong>{{user.date_joined}}</strong><br />
        <i class="fas fa-user-tag form_text my-2"></i> <strong>{{user.username}}</strong><br />
        <i class="far fa-calendar-alt form_text my-2"></i> <strong>{{user.userprofile.age}} years old</strong><br />
        <i class="fas fa-venus-mars form_text my-2"></i> <strong>{{user.userprofile.gender.title}}</strong><br />
        <i class="fas fa-map-marker-alt form_text my-2"></i> <strong>{{user.userprofile.city.title}}, UK</strong>
    
    </div>
    <div class="col-8 form_text">
        <h5 class="blue text-center"><strong>Make payment by Credit Card or PayPal</strong></h5>
    <form method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="mb-3">
            <div class="row g-2">
                <div class="col-md-7">
                <div class="form-floating">
                    <input type="text" class="form-control" minlength="16" maxlength="16" id="ccNum" placeholder="Credit card number" oninput="cardPlaceHolder()" value="" onval onkeypress="return (event.charCode !==8 && event.charCode ===0 || (event.charCode >= 48 && event.charCode <= 57))" required />
                    <label for="ccNum" id="ccNumL">Credit card number</label>
                </div>
                </div>
                <div class="col-md-3">
                <div class="form-floating">
                    <input id="datefield" class="form-control" type='date' min='1899-01-01' max='2000-13-13' placeholder="MMYY" ></input>
                    <label for="floatingSelectGrid">Exp Date (MMYY)</label>
                </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="CVV"  minlength="3" maxlength="3" onkeypress="return (event.charCode !==8 && event.charCode ===0 || (event.charCode >= 48 && event.charCode <= 57))" required />
                    <label for="floatingSelectGrid">CVV</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{user.userprofile.address}}" placeholder="Billing address">
            <label for="floatingInput">Billing address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{user.userprofile.city}}" placeholder="Billing city">
            <label for="floatingInput">Billing city</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{user.userprofile.post_code}}" placeholder="Billing postcode">
            <label for="floatingInput">Billing postcode</label>
        </div>
        <div class="text-center">
            <button class="btn btn-primary my-2" type="submit" onclick="pay"><strong>MAKE PAYMENT OF 	&#163;{{price}}</strong></button>
        </div>
    </form>
    <div class="text-center">
        {{ form.render }}
    </div>
    <P id = "errorMessage" style="color: red;"></P>
</div>
<br>
<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
if(dd<10){
    dd='0'+dd
} 
if(mm<10){
    mm='0'+mm
} 

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("datefield").setAttribute("min", today);

function validateForm() {
    cValue = document.getElementById('ccNum').value;
    var cardType = IsValidCreditCardNumber(cValue);
    if(cardType == null)
    {
        document.getElementById("errorMessage").innerHTML = "Invalid card number";
        return false;
    }
}

function cardPlaceHolder()
{
    cardNumber = document.getElementById('ccNum').value;
    t = "Credit card number"
    if (VisaCardnumber(cardNumber)) 
    {
        t += " (Visa)";
    } 
    else if (MasterCardnumber(cardNumber)) {
        t += " (Mastercard)";
    } 
    else if (AmexCardnumber(cardNumber)) {
        t += " (American Express)";
    } 
    else if (DiscoverCardnumber(cardNumber)) {
        t += " (Discover)";
    } 
    else if (DinerClubCardnumber(cardNumber)) {
        t += " (Dinerclub)";
    } 
    else if (JCBCardnumber(cardNumber)) {
        t += " (Jcb)";
    }

    document.getElementById('ccNumL').innerHTML = t;
    document.getElementById('ccNum').placeholder = t;
}

function AmexCardnumber(inputtxt) {
  var card_number = /^(?:3[47][0-9]{13})$/;
  return card_number.test(inputtxt);
}

function VisaCardnumber(inputtxt) {
  var card_number = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
  return card_number.test(inputtxt);
}

function MasterCardnumber(inputtxt) {
  var card_number = /^(?:5[1-5][0-9]{14})$/;
  return card_number.test(inputtxt);
}

function DiscoverCardnumber(inputtxt) {
  var card_number = /^(?:6(?:011|5[0-9][0-9])[0-9]{12})$/;
  return card_number.test(inputtxt);
}

function DinerClubCardnumber(inputtxt) {
  var card_number = /^(?:3(?:0[0-5]|[68][0-9])[0-9]{11})$/;
  return card_number.test(inputtxt);
}

function JCBCardnumber(inputtxt) {
  var card_number = /^(?:(?:2131|1800|35\d{3})\d{11})$/;
  return card_number.test(inputtxt);
}

function IsValidCreditCardNumber(cardNumber) {

  if (VisaCardnumber(cardNumber)) {} 
  else if (MasterCardnumber(cardNumber)) {} 
  else if (AmexCardnumber(cardNumber)) {} 
  else if (DiscoverCardnumber(cardNumber)) {} 
  else if (DinerClubCardnumber(cardNumber)) {} 
  else if (JCBCardnumber(cardNumber)) {}
  else return null;

  return 'valid';
}
</script>
{% endblock body %}