{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load accounts_tag %}
{% block title %}
    Your Dashboard
{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-4 text-center">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {% if user.userprofile.photo %}
                <img src="{{MEDIA_URL}}/{{user.userprofile.photo}}" class="img-fluid img-thumbnail rounded-circle"
                    alt="{{user.first_name}}">
                {% else %}
                    {% if user.userprofile.gender == "male" or user.is_staff%}
                    <img src="{% static "images/male.jpg" %}" class="img-fluid img-thumbnail rounded-circle"
                        alt="{{user.first_name}}">
                    {% else %}
                    <img src="{% static "images/female.jpg" %}" class="img-fluid img-thumbnail rounded-circle"
                        alt="{{user.first_name}}">
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>
        {% if user.is_staff %}
            <h5><span class="badge bg-success">ADMIN</span></h5>
        {% else %} 
        {% if user.userprofile.user_type == "artisan" %}
            <h5><span class="badge bg-primary">ARTISAN</span></h5>
        {% else %}
            <h5><span class="badge bg-info">CUSTOMER</span></h5>
        {% endif %} 
        {% endif %} 
        {% if user.is_staff %}
            <h4 class="form_text">{{user.first_name.title}} {{user.last_name.title}}</h4>
            <i class="fas fa-user-tag form_text my-2"></i> <strong>{{user.username}}</strong><br />
            <span class="form_text my-1"><strong>Joined:</strong></span> <strong>{{user.date_joined}}</strong><br />
            <span class="form_text my-1"><strong>Total Users registered:</strong></span> <strong>{{usercount}}</strong><br />
            <span class="form_text my-1"><strong>Artisans registered:</strong></span> <strong>{{artisancount}}</strong><br />
            <span class="form_text my-1"><strong>Customers registered:</strong></span> <strong>{{customercount}}</strong><br />
        {% else %}
            {% if user.userprofile.user_type == "artisan" %}
                <h4 class="form_text">{{user.first_name.title}} {{user.last_name.title}}</h4>
                <div class="card-text my-2">
                    {% for service in user.userprofile.services|splitter %}
                    <span class="badge bg-primary mb-1" style="font-size: 0.9rem;">{{service.title}}</span>
                    {% endfor %}
                </div>
                <span class="form_text my-1"><strong>Joined:</strong></span> <strong>{{user.date_joined}}</strong><br />
                <i class="fas fa-user-tag form_text my-2"></i> <strong>{{user.username}}</strong><br />
                <i class="far fa-calendar-alt form_text my-2"></i> <strong>{{user.userprofile.age}} years old</strong><br />
                <i class="fas fa-venus-mars form_text my-2"></i> <strong>{{user.userprofile.gender.title}}</strong><br />
                <i class="fas fa-map-marker-alt form_text my-2"></i> <strong>{{user.userprofile.city.title}}, UK</strong>
                <h5><i class="fas fa-pound-sign form_text my-2"></i><strong>{{user.userprofile.price}}/hr</strong></h5>
                <div class="star my-2">
                    {% if user.userprofile.get_rating >= 1 %}
                    <i class="fas fa-star"></i>
                    {% elif user.userprofile.get_rating >= 0.5 %}
                    <i class="fas fa-star-half-alt"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                
                    {% if user.userprofile.get_rating >= 2 %}
                    <i class="fas fa-star"></i>
                    {% elif user.userprofile.get_rating >= 1.5 %}
                    <i class="fas fa-star-half-alt"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                
                    {% if user.userprofile.get_rating >= 3 %}
                    <i class="fas fa-star"></i>
                    {% elif user.userprofile.get_rating >= 2.5 %}
                    <i class="fas fa-star-half-alt"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                
                    {% if user.userprofile.get_rating >= 4 %}
                    <i class="fas fa-star"></i>
                    {% elif user.userprofile.get_rating >= 3.5 %}
                    <i class="fas fa-star-half-alt"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                
                    {% if user.userprofile.get_rating >= 5 %}
                    <i class="fas fa-star"></i>
                    {% elif user.userprofile.get_rating >= 4.5 %}
                    <i class="fas fa-star-half-alt"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                    </div>
                <strong>
                {% if user.userprofile.get_total_reviews > 0 %}
                    {{user.userprofile.get_total_reviews}} review{{ user.userprofile.get_total_reviews|pluralize }}
                {% else %}
                    You don't have reviews yet
                {% endif %}
                </strong>
            {% else %}
            <h4 class="form_text">{{user.first_name.title}} {{user.last_name.title}}</h4>
            <span class="form_text my-1"><strong>Joined:</strong></span> <strong>{{user.date_joined}}</strong><br />
            <i class="fas fa-user-tag form_text my-2"></i> <strong>{{user.username}}</strong><br />
            <i class="far fa-calendar-alt form_text my-2"></i> <strong>{{user.userprofile.age}} years old</strong><br />
            <i class="fas fa-venus-mars form_text my-2"></i> <strong>{{user.userprofile.gender.title}}</strong><br />
            <i class="fas fa-map-marker-alt form_text my-2"></i> <strong>{{user.userprofile.city.title}}, UK</strong>
        
            {% endif %}
        {% endif %}
    </div>
    <div class="col-8">
    {% if user.is_staff %}
        
        {% if artisan.count > 0 %}
        <h4>There are <span class="form_text">{{artisans.count}}</span> Artisans waiting for approval</h4>
        
        {% for artisan in artisans %}
            <div class="card p-3 my-3">
                <div class="row">
                    <div class="col">
                        <strong class="form_text" style="font-size: 1.3rem;">{{artisan.user.first_name.title}} {{artisan.user.last_name.title}}</strong>
                    </div>
                    <div class="col">
                        <i class="fas fa-pound-sign form_text"></i><strong style="color: black;">{{artisan.price}}/hr</strong>
                    </div>
                    <div class="col">
                        <i class="fas fa-map-marker-alt form_text"></i> <strong style="color: black;">{{artisan.city.title}}, UK</strong>
                    </div>
                </div>
                <div class="card-text my-2 skills">
                    {% for service in artisan.services|splitter %}
                        <span class="badge bg-primary" style="font-size: 0.75rem;">{{service.title}}</span>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-6 d-grid gap-2">
                        <a class="btn btn-success" href="{% url 'accounts:approve_or_block' username=artisan.user.username action="approve" %}"><strong><i class="fas fa-thumbs-up"></i> APPROVE</strong></a>
                    </div>
                    <div class="col-md-6 d-grid gap-2">
                        <a class="btn btn-danger" href="{% url 'accounts:approve_or_block' username=artisan.user.username action="block" %}"><strong><i class="fas fa-ban"></i> BLOCK</strong></a>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        {% else %}
        <h4 class="text-center form_text my-6">There is no profile available for approval.</h4>

        {% endif %}
            
    {% else %}
        {% if user.userprofile.user_type == "artisan" %}
            {% if not user.userprofile.artisan_approved %}
                <div class="alert alert-warning text-center" role="alert">
                    <strong>Your profile is pending approval, please check back later.</strong>
                </div>
            {% endif %}
            {% if not user.userprofile.bank_details  %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading text-center">PLEASE ADD YOUR BANK DETAILS</h4>
                    <p>Thank you for joining ARTIM, but as an artisan you will need to add your bank details. This
                        will enable you to receive payment from customers.
                    </p>
                    <hr>
                    <p class="mb-0"><strong>NOTE! Customers won't be able request your services until you add your bank details.</strong></p>
                    <p class="text-center my-3"><a href="{% url 'accounts:add_bank_details' %}"><button class="btn btn-danger"><strong><i class="fas fa-plus-square"></i> ADD BANK DETAILS</strong></button></a></p>
                </div>
            {% else %}
            {% if artisan_orders.count < 1 %}
            <div class="text-center my-5">
                <h4 class="form_text">You are yet to receive a request from a customer. Please check back</h4>
            </div>
            {% else %}
                <div class="text-center my-3">
                    <h4 class="form_text">Your requests from customers</h4>
                </div>
                {% for order in artisan_orders reversed%}
                    {% if order.order_accepted %}
                        <div class="accepted">
                            <div class="d-flex justify-content-between">
                                    <div class="col"><i class="fas fa-user-tag form_text my-2"></i> <strong>{{order.customerorder.user.first_name.title}} {{order.customerorder.user.last_name.title}}</strong></div>
                                {% if order.order_completed %}    
                                    <div class="accepted_text"><span class="badge bg-success"><strong style="font-size: larger;">COMPLETED</strong></span></div>
                                {% else %}
                                    <div class="accepted_text"><strong>ACCEPTED</strong></div>
                                {% endif %}
                            </div>
                            <h5><i class="fas fa-tools form_text"></i> {{order.service.title}} at <i class="fas fa-pound-sign form_text"></i><span style="color: black;">{{order.order_price}}/hr</span></h5>
                            <div style="font-weight: 600; font-style: italic; font-size: large;">
                                <i class="fas fa-pen-square form_text"></i> {{order.message}}
                            </div>
                            <div class="row">
                                <div class="col-md-4"><i class="fas fa-phone form_text"></i> <strong>{{order.customerorder.phone_number}}</strong></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>
                            <div>
                                <i class="fas fa-map-marker-alt form_text my-2"></i> <strong>{{order.customerorder.address.title}}, {{order.customerorder.city.title}}, {{order.customerorder.post_code.upper}} UK</strong>
                            </div>
                            {% if order.order_completed %}    
                            <span class="accepted_text" style="font-weight: 700;">{{order.customerorder.user.first_name.title}} has marked this request as completed, your funds have been deposited to your account.</span>
                            {% else %}
                            <span class="accepted_text" style="font-weight: 700;">Thank you for accepting this request, you must call {{order.customerorder.user.first_name.title}} within the next 24 hours.</span>
                            {% endif %}
                            
                        </div>
                    {% elif order.order_rejected %}
                        <div class="rejected">
                            <div class="d-flex justify-content-between">
                                    <div class=""><a style="text-decoration: none;" class="form_text" href="{% url 'user-detail' user_type=order.artisanorder.user_type slug=order.artisanorder.user.username %}"><i class="fas fa-user-tag form_text my-2"></i> <strong>{{order.artisanorder.user.username}}</strong></a></div>
                                 
                                <div class="rejected_text"><strong>REJECTED</strong></div>
                            </div>
                            <h5><i class="fas fa-tools form_text"></i> {{order.service.title}} at <i class="fas fa-pound-sign form_text"></i><span style="color: black;">{{order.order_price}}/hr</span></h5>
                            <div style="font-weight: 600; font-style: italic; font-size: large;">
                                <i class="fas fa-pen-square form_text"></i> {{order.message}}
                            </div>
                            <span class="rejected_text" style="font-weight: 700;">We are sorry, {{order.artisanorder.user.first_name.title}} has rejected your request, please check for another Artisan.</span>
                        </div>
                    {% else %}
                        <div class="pending">
                            <div class="d-flex justify-content-between">
                                    <div class="col">Request from <span class="form_text" ><strong style="font-size: larger;">{{order.customerorder.user.username}}</strong></span></div>
                               <div class="pending_text"><strong>PENDING</strong></div>
                            </div>
                            <h5><i class="fas fa-tools form_text"></i> {{order.service.title}} at <i class="fas fa-pound-sign form_text"></i><span style="color: black;">{{order.order_price}}/hr</span></h5>
                            <div style="font-weight: 600; font-style: italic; font-size: large;">
                                <i class="fas fa-pen-square form_text"></i> {{order.message}}
                            </div>
                            <div class="row my-2">
                                <div class="col-md-6 d-grid gap-2">
                                    <a class="btn btn-success" href="{% url 'orders:accept_or_reject' action="accept" order=order.pk %}"><strong><i class="fas fa-vote-yea"></i> ACCEPT REQUEST</strong></a>
                                </div>
                                <div class="col-md-6 d-grid gap-2">
                                    <a class="btn btn-danger" href="{% url 'orders:accept_or_reject' action="reject" order=order.pk %}"><strong><i class="far fa-window-close"></i> REJECT REQUEST</strong></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endif %}
            
        {% else %}
            {% if customer_orders.count < 1 %}
            <div class="text-center my-5">
                <h4 class="form_text">You are yet to request an Artisan's service.</h4>
                <a href="{% url 'index' slug="home" %}"><button class="btn btn-outline-primary">BROWSE ARTISANS</button></a>
            </div>
            {% else %}
                {% for order in customer_orders reversed%}
                    {% if order.order_accepted %}
                        <div class="accepted">
                            <div class="d-flex justify-content-between">
                                    <div class="col"><a style="text-decoration: none;" class="form_text" href="{% url 'user-detail' user_type=order.artisanorder.user_type slug=order.artisanorder.user.username %}"><i class="fas fa-user-tag form_text my-2"></i> <strong style="font-size: larger;">{{order.artisanorder.user.username}}</strong></a></div>
                                {% if order.order_completed %}    
                                    <div class="accepted_text"><span class="badge bg-success"><strong style="font-size: larger;">COMPLETED</strong></span></div>
                                {% else %}
                                <div class="accepted_text"><strong>ACCEPTED</strong></div>
                                {% endif %}
                            </div>
                            <h5><i class="fas fa-tools form_text"></i> {{order.service.title}} at <i class="fas fa-pound-sign form_text"></i><span style="color: black;">{{order.order_price}}/hr</span></h5>
                            <div style="font-weight: 600; font-style: italic; font-size: large;">
                                <i class="fas fa-pen-square form_text"></i> {{order.message}}
                            </div>
                            {% if not order.order_completed %}
                                <span class="accepted_text" style="font-weight: 700;">{{order.artisanorder.user.first_name.title}} has accepted your request, expect a call within the next 24 hours</span>
                            {% else %}
                                <h6 class="mt-2"><span class="accepted_text" style="font-weight: 700;">You marked this order as completed on</span> <span style="font-weight: 700;">{{order.completed_date}}</span></h6>
                            {% endif %}
                            {% if not order.order_completed %}
                            <a href="{% url 'orders:accept_or_reject' action="completed" order=order.pk %}" style="text-decoration: none;">
                                <div class="d-grid gap-2 my-2">
                                    <button class="btn btn-success"><strong><i class="fas fa-check-double"></i> MARK AS COMPLETED</strong></button>
                                </div></a>
                            {% endif %}
                        </div>
                    {% elif order.order_rejected %}
                        <div class="rejected">
                            <div class="d-flex justify-content-between">
                                    <div class=""><a style="text-decoration: none;" class="form_text" href="{% url 'user-detail' user_type=order.artisanorder.user_type slug=order.artisanorder.user.username %}"><i class="fas fa-user-tag form_text my-2"></i> <strong>{{order.artisanorder.user.username}}</strong></a></div>
                                 
                                <div class="rejected_text"><strong>REJECTED</strong></div>
                            </div>
                            <h5><i class="fas fa-tools form_text"></i> {{order.service.title}} at <i class="fas fa-pound-sign form_text"></i><span style="color: black;">{{order.order_price}}/hr</span></h5>
                            <div style="font-weight: 600; font-style: italic; font-size: large;">
                                <i class="fas fa-pen-square form_text"></i> {{order.message}}
                            </div>
                            <span class="rejected_text" style="font-weight: 700;">We are sorry, {{order.artisanorder.user.first_name.title}} has rejected your request, please check for another Artisan.</span>
                        </div>
                    {% else %}
                        <div class="pending">
                            <div class="d-flex justify-content-between">
                                    <div class="col"><a style="text-decoration: none;" class="form_text" href="{% url 'user-detail' user_type=order.artisanorder.user_type slug=order.artisanorder.user.username %}"><i class="fas fa-user-tag form_text my-2"></i> <strong style="font-size: larger;">{{order.artisanorder.user.username}}</strong></a></div>
                               <div class="pending_text"><strong>PENDING</strong></div>
                            </div>
                            <h5><i class="fas fa-tools form_text"></i> {{order.service.title}} at <i class="fas fa-pound-sign form_text"></i><span style="color: black;">{{order.order_price}}/hr</span></h5>
                            <div style="font-weight: 600; font-style: italic; font-size: large;">
                                <i class="fas fa-pen-square form_text"></i> {{order.message}}
                            </div>
                            <span class="pending_text" style="font-weight: 700;">{{order.artisanorder.user.first_name.title}} is yet to accept your request, you will be notified once your request has been accepted.</span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
</div>
<br>
{% endblock body %}