{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
    Login
{% endblock title %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 form_text text-center">
        <h3 class="blue"><strong>Sign in to your account</strong></h3>
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="floating" %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit"><strong>SIGN IN</strong></button>
            </div>
        </form>
        <p><em>Don't have an account yet?</em> <a href="{% url 'accounts:register' %}" style="text-decoration: none;">

                <span class="links"><Strong>REGISTER</Strong></span>
            </a><br>
            <a href="{% url 'password_reset' %}" class="links" style="text-decoration: none;"><strong>Forgot password or
                    username?</strong></span></a>
        </p>
    </div>
</div>
{% endblock body %}