{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
    Register
{% endblock title %}

{% block body %}
<div class="row justify-content-center mb-50">
    <div class="col-10 col-md-8 col-lg-6 form_text">
        <h3 align="center" class="blue"><strong>Create your account</strong></h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form layout="floating" %}
            {% bootstrap_form profileform layout="floating" %}
            <br><br>
            <span>By clicking REGISTER, you agree to our terms of service, privacy policy and cookie policy</span>
            <br><br>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit"><strong>REGISTER</strong></button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<script>
    var services = document.getElementById("services");
    var price = document.getElementById("id_price");
    var radio1 = document.getElementById("user_type_0");
    var radio2 = document.getElementById("user_type_1");

    if (radio1.checked == false & radio2.checked == false)
    {
        services.style.display = "none";
        price.style.display = "none";
    }

    function toggler() {
        if (radio1.checked) {
            selected = radio1.value;
            services.style.display = "none";
            price.style.display = "none";
            services.removeAttribute("required")
            price.removeAttribute("required")
        } else if(radio2.checked) {
            selected = radio2.value;
            services.style.display = "block";
            price.style.display = "block";
            services.setAttribute("required", "true")
            price.setAttribute("required", "true")
        }
    }
</script>
{% endblock body %}