{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% load order_tags %}
{% block title %}
    Order service
{% endblock title %}
    

{% block body %}
<div class="row">
    <div class="col-4 text-center">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {% if artisan.userprofile.photo %}
                <img src="{{MEDIA_URL}}/{{user.userprofile.photo}}" class="img-fluid img-thumbnail rounded-circle" alt="{{artisan.first_name}}"> {% else %} {% if user.userprofile.gender == "male" or user.is_staff%}
                <img src="{% static "images/male.jpg " %}" class="img-fluid img-thumbnail rounded-circle" alt="{{artisan.first_name}}"> {% else %}
                <img src="{% static "images/female.jpg " %}" class="img-fluid img-thumbnail rounded-circle" alt="{{artisan.first_name}}"> {% endif %} {% endif %}
            </div>
            <div class="col-md-1"></div>
        </div>
        <h5><span class="badge bg-primary">ARTISAN</span></h5>
        <h4 class="form_text">{{user.first_name.title}} {{user.last_name.title}}</h4>
        <span class="form_text my-1"><strong>Joined:</strong></span> <strong>{{user.date_joined}}</strong><br />
        <i class="fas fa-user-tag form_text my-2"></i> <strong>{{user.username}}</strong><br />
        <i class="far fa-calendar-alt form_text my-2"></i> <strong>{{user.userprofile.age}} years old</strong><br />
        <i class="fas fa-venus-mars form_text my-2"></i> <strong>{{user.userprofile.gender.title}}</strong><br />
        <i class="fas fa-map-marker-alt form_text my-2"></i> <strong>{{user.userprofile.city.title}}, UK</strong>
    </div>
    <div class="col-8 form_text">
        {% if withdrawals.count < 0 %}
            <div class="d-flex justify-content-end">
                <div class="text-center">
                    <span style="font-size: xx-large;" class="badge blue_background"><i class="fas fa-university"></i> £{% if user.userprofile.balance == 0 %}0{% else %}{{user.userprofile.balance|intcomma}}{% endif %}</span>
                    
                </div>
            </div>
        {% else %}
            <div class="d-flex justify-content-between">
                <div class="pt-3">
                    <h4>{{withdrawals.count}} withdrawal{{withdrawas.count|pluralize }}</h4>
                </div>
                <div class="text-center">
                    <span style="font-size: xx-large;" class="badge blue_background"><i class="fas fa-university"></i> £{% if user.userprofile.balance == 0 %}0{% else %}{{user.userprofile.balance|intcomma}}{% endif %}</span>
                    
                </div>
            </div>
        {% endif %}
        
        
        <div class="mt-4">
            {% if withdrawals.count < 1 %}
                <br />
                <br />
                <br />
                <h5 class="text-center form_text">You haven't made any withdrawal</h5>
            {% else %}
                {% for withdrawal in withdrawals %}
                <div class="shadow p-2 mb-5 bg-body rounded blue" style="font-size: 1.3rem;">
                    {% if withdrawal.method == 'bitcoin' %}
                        <span style="font-size: 1.7rem; color: #f7931a;"><i class="fab fa-bitcoin"></i></span> £{{withdrawal.amount}} on {{withdrawal.withdrawal_date}}
                    {% else %}
                        <span style="font-size: 1.7rem; color: green;"><i class="fas fa-university"></i></span> £{{withdrawal.amount}} on {{withdrawal.withdrawal_date}}
                    {% endif %}
                        </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<br>
<style>
    .blue_background{
        background-color: #1d79ca;
    }
</style>
{% endblock body %}