<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{% static " /css/master.css " %}">
    <title>
        {% block title %} {% endblock title %}
    </title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: white;">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' " home " %}"><strong><span class="blue">ARTIM<span></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' " home " %}"><strong><span class="blue">Browse
                                        Artisans</span></strong></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">

                        {% if user.is_authenticated %}
                        <div class="nav-item dropdown drop form_text">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle fa-1x form_text"></i><span class="form_text" style="font-size: 1.2rem;"> {{user.first_name.title}}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'accounts:dashboard'%}">Your Dashboard</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'accounts:updateprofile' pk=user.userprofile.pk %}">Update Profile</a></li>
                                <a class="dropdown-item" href="{% url 'accounts:changepassword'%}">Change password</a></li>
                            </ul>
                        </div>
                        <li class="nav-item ">
                            <a class="nav-link " aria-current="page " href="{% url 'accounts:logout' %} ">
                                <button class="btn btn-outline-primary "><strong>Sign Out</strong></button>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link " aria-current="page " href="{% url 'accounts:login' %} ">
                                <button class="btn btn-outline-primary "><strong>Sign In</strong></button>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " aria-current="page " href="{% url 'accounts:register' %} ">
                                <button class="btn btn-outline-primary "><strong>Register</strong></button>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container ">
        <br /> {% block body %} {% endblock body %}
    </main>
    <footer class="mu-3 mb-1 ">
        <div class="container text-center blue ">
            <strong>Copyright &copy; Artim</strong><br />
            <strong>Developed for 7047CEM by Group 1</strong>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4 " crossorigin="anonymous ">
    </script>

</body>

</html>