<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{% static "/css/master.css" %}">
    <title>
        Welcome to Artim
    </title>
    <link rel="shortcut icon" type="image/jpg" href="{% static "/images/favicon.png" %}"/>
    <style>
        body { 
            background: url('{% static "/images/Slideshow/1.jpg" %}') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        datalist {
            font-family: Arial, sans-serif;
            font-size: 40px;
            font-style: italic;
        }
        datalist#fixed {
            -webkit-appearance: none;
        }
      .bg-custom{
        background-color:#130f4083;
      }
      .button-fixed{
        bottom: 0;
        position: fixed;
        right: 0;
        border-radius: 4px;
      }
      .fas{
        cursor: pointer;
        font-size: 24px;
      }
      p{
        font-size: 14px;  
      }
      </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark homepage">
            <div class="container">
                <a class="navbar-brand" href="{% url 'homepage' %}"><strong><span style="color: white;">ARTIM<span></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' "home" %}"><strong><span style="color: white;">Browse
                                        Artisans</span></strong></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">

                        {% if user.is_authenticated %}
                            {% if user.userprofile or user.is_staff %}
                                <div class="nav-item dropdown drop form_text">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-user-circle fa-1x form_text_white"></i><span class="form_text_white" style="font-size: 1.2rem;"> {{user.first_name.title}} {% if user.is_staff %}
                                        <span class="badge bg-success">Admin</span>
                                        {% else %}
                                        {% if user.userprofile.user_type == "artisan" %}
                                        <span class="badge bg-primary">Artisan</span>
                                        {% else %}
                                        <span class="badge bg-info">Customer</span>
                                        {% endif %}
                                        {% endif %}</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'accounts:dashboard' %}"><i class="fas fa-id-card"></i> Your Dashboard</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        {% if user.is_staff %}
                                            <li><a class="dropdown-item" href="{% url 'accounts:manage_artisans' %}"><i class="fas fa-users-cog"></i> Manage Artisans</a></li>
                                            <li><a class="dropdown-item" href="{% url 'accounts:manage_customers' %}"><i class="fas fa-users"></i> Manage Customers</a></li>
                                            <li><a class="dropdown-item" href="{% url 'accounts:blocked_users' %}"><i class="fas fa-ban"></i> Blocked Users</a></li>
                                            <li><a class="dropdown-item" href="{% url 'accounts:changepassword' %}"><i class="fas fa-cogs"></i> Change
                                                    Password</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{% url 'accounts:updateprofile' slug=user.userprofile.slug %}">
                                                <i class="fas fa-sliders-h"></i> Edit Profile</a></li>
                                            <li><a class="dropdown-item" href="{% url 'accounts:withdrawal_list_view'%}">
                                                <i class="far fa-share-square"></i> My Withdrawals</a></li>
                                            {% if user.userprofile.bank_details%}
                                                <li><a class="dropdown-item" href="#"><i class="fas fa-university"></i> Edit Bank details</a></li>
                                            {% endif %}
                                                <li><a class="dropdown-item" href="{% url 'accounts:changepassword' %}"><i class="fas fa-cogs"></i> Change
                                                        Password</a></li>
                                                <li><a class="dropdown-item" href="{% url 'accounts:deleteaccount' slug=user.userprofile.slug %}"><i class="fas fa-trash"></i> Delete My Account</a></li>
                                        {% endif %}   
                                    </ul>
                                </div>
                            {% else %}
                                <div class="nav-item dropdown drop form_text">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fas fa-user-circle fa-1x form_text"></i><span class="form_text" style="font-size: 1.2rem;"> {{user.first_name.title}}
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'social_dashboard' %}"><i class="fas fa-id-card"></i> Your Dashboard</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Change
                                                Password</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Delete My Account</a></li>  
                                    </ul>
                                </div>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'accounts:logout' %}">
                                    <button class="btn btn-outline-info"><strong><i class="fas fa-power-off"></i> Sign Out</strong></button>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">
                                    <button class="btn btn-outline-info"><strong>Sign In</strong></button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'accounts:register' %}">
                                    <button class="btn btn-outline-info"><strong>Register</strong></button>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-10 col-md-10 col-lg-10 col-xl-8" style="margin-top:100px; background-color: rgba(255, 255, 255, 0.822);">
                <br><br>
                <div class="jumbotrn">
                <h1 style="font-weight: bold; font-size:500%" class="blue">Artim</h1>
                <h3 style="font-weight: bold; font-size:160%" >Meet the artisans you need</h3>
                <h5 style="font-weight: bold; font-size: 100%; overflow-wrap:break-word; width:auto">
                    Artim provides our numerous customers and skilled personnels 
                    the perfect platform to interact. We provide prompt services in various 
                    capacities which ultimately give our customers 
                    the best customer experience with total satisfaction.
                </h5>
                <div class="row">
                    <div class="col-md-8">
                        <form method="post" autocomplete="on">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="search" name="search" list="artisan_jobs" placeholder="Try Typing something..." autocomplete="on" class="form-control" required>
                                <button type="submit" class="btn btn-primary"><strong><i class="fas fa-search"></i> SEARCH</strong></button>
                            </div>
                        </form>
                        <datalist id="artisan_jobs">
                            {% for job in jobs %}
                                <option value="{{job}}">
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                
                <br>
                    <div>
                        <p>
                        Popular:
                        {% for job in popular %}
                        <span class="mx-2 form_text"><a href="{% url 'index' job %}">{{job}}</a></span>
                        {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    {% if cookies %}
    <div class="row" id = "acDialog">
        <div class="col-md-4 col-sm-12 button-fixed">
          <div class="p-3 pb-4 bg-custom text-white">
            <div class="row">
              <div class="col-10">
                <h2>Allow Cookies</h2>
              </div>
              <div class="col-2 text-center">
                <i type="submit" class="fas fa-times" onclick="closeCookieDialog()"></i>
              </div>
            </div>
            <p>We use cookies to improve user experience. By using this website you agree for Artim to collect these cookies
            </p>
            <button type="submit" class="btn btn-primary" style="width: 100%;" onclick="closeCookieDialog()">Accept Cookies</button>
          </div>
        </div>
      </div>
    {% endif %}
</div>

    </main>
    
    <footer class="mu-3 mb-1">
        <div class="container text-center" style="color: white;">
            <strong>Copyright &copy; Artim</strong><br />
            <strong>Developed for 7047CEM by Group 1</strong>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

</body>
<script>

  var slideIndex = 1;
  showDivs(slideIndex);

  var slide_rate = 5 * 1000; //2 seconds
  setTimeout(Slide, slide_rate);

  function Slide() {
    plusDivs(+1);
    setTimeout(Slide, slide_rate);
  }

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }


  function showDivs(n) {
    var bodyImage = document.body.style.background;
    var bodyImageSize = document.body.style.backgroundSize;
    var images = [
        'static/images/Slideshow/1.jpg',
        'static/images/Slideshow/2.jpg',
        'static/images/Slideshow/3.jpg',
        'static/images/Slideshow/4.jpg',
        'static/images/Slideshow/5.jpg',
        'static/images/Slideshow/6.jpg',
        'static/images/Slideshow/7.jpg',
        'static/images/Slideshow/8.jpg',
        'static/images/Slideshow/9.jpg',
        'static/images/Slideshow/10.jpg',
        'static/images/Slideshow/11.jpg',
    ]
    var i;
    if (n > images.length) {slideIndex = 1}
    if (n < 1) {slideIndex = images.length} ;
    document.body.style.background = `url(${images[slideIndex-1]}) no-repeat center center fixed`;
    document.body.style.backgroundSize = "cover";
  }

    function closeCookieDialog()
    {
        var acDialog = document.getElementById('acDialog');
        acDialog.style.display = "none";
    }
  </script>
</html>