
{% extends 'base.html' %}
{% load static %}
{% load accounts_tag %}

{% block title %}Home{% endblock title %}

{% block body %}

<div style=" margin-bottom: 50px; margin-top: 60px;">
  <div style="width:50%; float: left;">
    <h1 style="color: blue; font-size:500%">Artim</h1>
    <h3 style="font-size:160%">Meet the artisans you need something.</h3>
    <br>
    <h5 style="font-size: 100%; overflow-wrap:break-word; width:auto">
      Artim provides our numerous customers and skilled personnels 
      the perfect platform to interact. We provide prompt services in various 
      capacities which ultimately give our customers 
      the best customer experience with total satisfaction.
    </h5>

    <br>
    <div style="margin-left: -1%">
      <a href="../../all" class="btn btn-primary"><strong>View Artisans</strong></a>
      <a href="{% url 'accounts:register' %}" class="btn btn-primary"><strong>Become an Artisan</strong></a>
    </div>

    <br>

    <p>Have an Account? <a href="{% url 'accounts:login' %}">Sign In</a> No? <a href="{% url 'accounts:register' %}">Register</a></p>
    <p></p>
  </div>

  <!--Slide Show-->

<div style = "float: right; width: 50%;">
  <div style="height: auto; width: auto;">
    <img class="slide" src="{% static "/images/Slideshow/0.png" %}" style="width: 600px; height: 400px;">
    <img class="slide" src="{% static "/images/Slideshow/1.png" %}" style="width: 600px; height: 400px;">
    <img class="slide" src="{% static "/images/Slideshow/2.png" %}" style="width: 600px; height: 400px;">
    <img class="slide" src="{% static "/images/Slideshow/3.png" %}" style="width: 600px; height: 400px;">
  </div>


  </div>


  <!-- Picture for http://www.artisansdangkor.com/-->
  
</div>
<br />

<script>

var slideIndex = 1;
showDivs(slideIndex);

var slide_rate = 5 * 1000; //2 seconds
setTimeout(Slide, slide_rate);

function Slide() {
  plusDivs(+1);
  setTimeout(Slide, slide_rate);
}

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("slide");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

<style>
  button {
  /* Same as before */
  transition: background-position 275ms ease;
  }
  button:hover {
    background-position: 0 100%;
  }
</style>


{% endblock body %}
