{% extends 'base.html' %}
{% load static %}
{% load accounts_tag %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container">
    <div class="dropdown text-center">
        <a class="btn btn-outline-primary btn-lg dropdown-toggle form_text" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filter artisans by a skill
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'index' "all" %}">All</a></li>
            {% for skill in skills %}
                <li><a class="dropdown-item" href="{% url 'index' skill.0 %}">{{skill.0}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if alternative %}
        <div class="alert alert-primary alert-dismissible fade show my-3" role="alert">
            <strong>OOPS!</strong> We tried to search for <strong>{{searched}}</strong> but we couldn't find an Artisan with such skills. Did you mean to type <strong>{{job}}</strong>?
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if artisans.count > 0 %}
    <div class="row">
        {% for artisan in artisans %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 my-3">
            <a href="{% url 'user-detail' user_type=artisan.user_type slug=artisan.user.username %}" style="text-decoration: none;" class="blue"><div class="card fluid" >
                {% if artisan.photo %}
                <img src="{{MEDIA_URL}}/{{artisan.photo}}" class="card-img-top  img-fluid img-thumbnail" alt="{{artisan.user.first_name}}" width="100%" height="2">
                {% else %}
                {% if artisan.gender == "male" %}
                <img src="{% static "images/male.jpg" %}" class="card-img-top img-fluid img-thumbnail" alt="{{artisan.user.first_name}}" width="100%" height="autp">
                {% else %}
                <img src="{% static "images/female.jpg" %}" class="card-img-top img-fluid img-thumbnail" alt="{{artisan.user.first_name}}">
                {% endif %}
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title"><strong></strong>{{artisan.user.first_name.title}}</strong></h4>
                    <div class="card-text my-2 skills">
                        {% for service in artisan.services|splitter %}
                            <span class="badge bg-primary" style="font-size: 0.75rem;">{{service.title}}</span>
                        {% endfor %}
                    </div>
                    <h5><i class="fas fa-pound-sign form_text"></i><strong style="color: black;">{{artisan.price}} Flat rate</strong></h5>
                    <div class="star">
                        {% if artisan.get_rating >= 1 %}
                            <i class="fas fa-star"></i>
                        {% elif artisan.get_rating >= 0.5 %}
                            <i class="fas fa-star-half-alt"></i>
                        {% else %}
                            <i class="far fa-star"></i>
                        {% endif %}

                        {% if artisan.get_rating >= 2 %}
                        <i class="fas fa-star"></i>
                        {% elif artisan.get_rating >= 1.5 %}
                        <i class="fas fa-star-half-alt"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}

                        {% if artisan.get_rating >= 3 %}
                        <i class="fas fa-star"></i>
                        {% elif artisan.get_rating >= 2.5 %}
                        <i class="fas fa-star-half-alt"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}

                        {% if artisan.get_rating >= 4 %}
                        <i class="fas fa-star"></i>
                        {% elif artisan.get_rating >= 3.5 %}
                        <i class="fas fa-star-half-alt"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}

                        {% if artisan.get_rating >= 5 %}
                        <i class="fas fa-star"></i>
                        {% elif artisan.get_rating >= 4.5 %}
                        <i class="fas fa-star-half-alt"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                    </div>
                    <strong style="color: black;">{{artisan.get_total_reviews}} review{{ artisan.get_total_reviews|pluralize }}</strong><br />
                    <div class="my-2"><i class="fas fa-map-marker-alt form_text"></i> <strong style="color: black;">{{artisan.city.title}}, UK</strong></div>
                    <div class="row my-2">
                        <div class="col-5"><i class="far fa-calendar-alt form_text"></i> <strong style="color: black;">{{artisan.age}}</strong></div>
                        <div class="col-7"><i class="fas fa-venus-mars form_text"></i> <strong style="color: black;">{{artisan.gender.title}}</strong></div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <br />
    <br />
    <nav>
        <ul class="pagination pagination pg-success justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% if page_obj.number == 1 %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ page_obj.number }}
                    <span class="sr-only">(current)</span>
                    </span>
                </li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
            {% if page_obj.number == page_obj.paginator.num_pages %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
    
    
        </ul>
    </nav>
    {% else %}
    <br><br>
    <div class="my-10">
        <h4 class="text-center blue">There are no Artisans to be shown.</h4>
    </div>
    {% endif %}
</div>
<br />
{% endblock body %}