{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load accounts_tag %}
{% load humanize %}
{% block title %}
    {{object.user.first_name}}'s profile 
{% endblock title %}
    

{% block body %}
<div class="row">
    <div class="col-4 text-center">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                {% if object.photo %}
                <img src="{{MEDIA_URL}}/{{object.photo}}" class="img-fluid img-thumbnail rounded"
                    alt="{{object.first_name}}">
                {% else %}
                {% if object.gender == "male" or object.user.is_staff%}
                <img src="{% static "images/male.jpg" %}" class="img-fluid img-thumbnail rounded"
                    alt="{{object.user.first_name}}">
                {% else %}
                <img src="{% static "images/female.jpg" %}" class="img-fluid img-thumbnail rounded"
                    alt="{{object.user.first_name}}">
                {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="mb-2">
        {% if object.user.is_staff %}
            <span class="badge bg-success">ADMIN</span>
        {% else %}
            {% if object.user_type == "artisan" %}
            <span class="badge bg-primary">ARTISAN</span>
            {% else %}
            <span class="badge bg-info">CUSTOMER</span>
            {% endif %}
        {% endif %}
        </div>
        {% if object.user.is_staff %}
        <h4 class="form_text">{{object.user.first_name.title}} {{object.user.last_name.title}}</h4>
        <i class="fas fa-user-tag form_text my-2"></i> <strong>{{object.user.username}}</strong><br />
        <span class="form_text my-1"><strong>Joined:</strong></span> <strong>{{object.user.date_joined}}</strong><br />
        {% else %}
            {% if object.user_type == "artisan" %}
            <h4 class="form_text">{{object.user.first_name.title}} {{object.user.last_name.title}}'s profile</h4>
            <div class="card-text my-2">
                {% for service in object.services|splitter %}
                <span class="badge bg-primary mb-1" style="font-size: 0.9rem;">{{service.title}}</span>
                {% endfor %}
            </div>
            <span class="form_text my-1"><strong>Member since</strong></span> <strong>{{object.user.date_joined|date:"M d Y"}}</strong><br />
            <i class="fas fa-user-tag form_text my-2"></i> <strong>{{object.user.username}}</strong><br />
            <i class="far fa-calendar-alt form_text my-2"></i> <strong>{{object.age}} years old</strong><br />
            <i class="fas fa-venus-mars form_text my-2"></i> <strong>{{object.gender.title}}</strong><br />
            <i class="far fa-phone form_text my-2"></i> <strong>{{object.user.userprofile.phone_number}}</strong><br />
            <i class="fas fa-map-marker-alt form_text my-2"></i> <strong>{{object.city.title}}, UK</strong>
            <h5><i class="fas fa-pound-sign form_text mt-2"></i><strong>{{object.price}}/hr</strong></h5>
            {% if object.get_total_reviews >= 1 %}
            <div class="star mb-2">
                {% if object.get_rating >= 1 %}
                <i class="fas fa-star"></i>
                {% elif object.get_rating >= 0.5 %}
                <i class="fas fa-star-half-alt"></i>
                {% else %}
                <i class="far fa-star"></i>
                {% endif %}

                {% if object.get_rating >= 2 %}
                <i class="fas fa-star"></i>
                {% elif object.get_rating >= 1.5 %}
                <i class="fas fa-star-half-alt"></i>
                {% else %}
                <i class="far fa-star"></i>
                {% endif %}

                {% if object.get_rating >= 3 %}
                <i class="fas fa-star"></i>
                {% elif object.get_rating >= 2.5 %}
                <i class="fas fa-star-half-alt"></i>
                {% else %}
                <i class="far fa-star"></i>
                {% endif %}

                {% if object.get_rating >= 4 %}
                <i class="fas fa-star"></i>
                {% elif object.get_rating >= 3.5 %}
                <i class="fas fa-star-half-alt"></i>
                {% else %}
                <i class="far fa-star"></i>
                {% endif %}

                {% if object.get_rating >= 5 %}
                    <i class="fas fa-star"></i>
                {% elif object.get_rating >= 4.5 %}
                    <i class="fas fa-star-half-alt"></i>
                {% else %}
                    <i class="far fa-star"></i>
                {% endif %}
            </div>
            {% endif %}
            {% if not user.is_staff %}
            <div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button mx-2" data-size="large"
                    data-text="Check out this artisan" data-url="{{request.get_host}}{{request.get_full_path}}"
                    data-show-count="false"></a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                <a href="https://wa.me/?text=Check%20out%20{{object.user.first_name}}%20at%20{{request.get_host}}{{request.get_full_path}}" class="mx-2 text-success"><i class="fab fa-whatsapp fa-2x"></i></a>
            </div>
            {% endif %}
            {% else %}
                <h4 class="form_text">{{object.user.first_name.title}} {{object.user.last_name.title}}</h4>
                <span class="form_text my-1"><strong>Joined:</strong></span> <strong>{{object.user.date_joined}}</strong><br />
                <i class="fas fa-user-tag form_text my-2"></i> <strong>{{object.user.username}}</strong><br />
                <i class="far fa-calendar-alt form_text my-2"></i> <strong>{{object.user.userprofile.age}} years old</strong><br />
                <i class="fas fa-venus-mars form_text my-2"></i> <strong>{{object.gender.title}}</strong><br />
                <i class="far fa-phone form_text my-2"></i> <strong>{{object.user.userprofile.phone_number}}</strong><br />
                <i class="fas fa-map-marker-alt form_text my-2"></i> <strong>{{object.city.title}}, UK</strong>
            {% endif %}
        {% endif %}
    </div>
    <div class="col-8">
        {% if object.user_type == "artisan" %}
            {% if object.get_total_reviews < 1 %}
                <div class="alert alert-warning text-center" role="alert">
                    {% if user.is_staff %}
                        <a class="btn btn-danger" href="{% url 'accounts:approve_or_block' username=object.user.username action="block" %}"><strong><i class="fas fa-ban"></i> BLOCK {{object.user.first_name.upper}}</strong></a>
                    {% else %}
                        {% if user.userprofile.user_type == "customer"%}
                        <p><strong>{{object.user.first_name.title}} has no reviews yet. Why don't you be the first to review {% if object.gender == "male" %}him.{% else %}her.{% endif %}</strong></p>
                        <a href="{% url 'orders:place_order' slug=object.user.username %}"><button class="btn btn-primary mx-2"><strong><i class="far fa-thumbs-up"></i> ORDER {{object.user.first_name.upper}}'s SERVICE</strong></button></a>
                        <button class="btn btn-warning mx-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><strong><i class="far fa-edit"></i> RATE {{object.user.first_name.upper}}</strong></button>    
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Rate {{object.user.first_name.title}}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {% bootstrap_form form layout="floating" %}
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-warning"><strong><i class="far fa-edit"></i> SUBMIT REVIEW</strong> </button>
                                </div>
                                </form>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% else %}
                <div class="d-flex justify-content-between">
                    <div style="font-size: x-large; font-weight: 600;" class="p-2">{{object.user.first_name.title}} has <span class="blue">{{object.get_total_reviews}}</span> review{{ object.get_total_reviews|pluralize }}</div>
                    {% if user.is_staff %}
                    <div><a class="btn btn-danger" href="{% url 'accounts:approve_or_block' username=object.user.username action="block" %}"><strong><i class="fas fa-ban"></i> BLOCK {{object.user.first_name.upper}}</strong></a></div>
                    {% else %}
                        {% if user.userprofile.user_type == "customer" %}
                            <div class="p-2 c">
                                <a href="{% url 'orders:place_order' slug=object.user.username %}"><button class="btn btn-primary mr-2"><strong><i class="far fa-thumbs-up"></i> ORDER {{object.user.first_name.upper}}'s SERVICE</strong></button></a> 
                                <button class="btn btn-warning ml-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><strong><i class="far fa-edit"></i> RATE {{object.user.first_name.upper}}</strong></button>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Rate {{object.user.first_name.title}}</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        {% bootstrap_form form layout="floating" %}
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-warning"><strong><i class="far fa-edit"></i> SUBMIT REVIEW</strong> </button>
                                    </div>
                                    </form>
                                  </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% for review in object.artisan_review.all reversed %}
                    <div class="my-3">
                        <div class="star">
                            {% if review.rating >= 1 %}
                            <i class="fas fa-star"></i>
                            {% elif review.rating >= 0.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            
                            {% if review.rating >= 2 %}
                            <i class="fas fa-star"></i>
                            {% elif review.rating >= 1.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            
                            {% if review.rating >= 3 %}
                            <i class="fas fa-star"></i>
                            {% elif review.rating >= 2.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            
                            {% if review.rating >= 4 %}
                            <i class="fas fa-star"></i>
                            {% elif review.rating >= 3.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            
                            {% if review.rating >= 5 %}
                            <i class="fas fa-star"></i>
                            {% elif review.rating >= 4.5 %}
                            <i class="fas fa-star-half-alt"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                        </div>
                        <div style="font-weight: 400; font-family: sans-serif;">
                            {{review.comment}}
                        </div>
                        <div>By <em><strong>{{review.customer_review.user.first_name}}</strong></em> on {{review.review_date}}</div>
                        <hr>
                    </div>
                {% endfor %}
                    
            {% endif %}
        {% else %}
            {% if user.is_staff %}
                <h3>Display what admin can see about user</h3>
            {% endif %}
        {% endif %}
    </div>
</div>
<br>
{% endblock body %}