{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 form_text text-center">
        <br>
        <h3 class="blue"><strong>Reset your password</strong></h3>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="floating" %}
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit"><strong>SEND EMAIL</strong></button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}